* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
  }
  
  body {
    font-family: Helvetica, sans-serif;
    line-height: 1.4;
  }
  
  a {
    color: rgb(9, 47, 216);
    text-decoration: none;
  }
  
  .container {
    padding: 0 1rem;
  }
  
  .btn {
    display: inline-block;
    border: none;
    background: rgb(9, 47, 216);;
    color: #fff;
    padding: 7px 20px;
    cursor: pointer;
  }
  
  .btn:hover {
    background: rgb(9, 47, 216);
  }